@{
    Page.Title = "About Us";
}

<section id="main">
    <h1>A little bit about Fourth Coffee</h1>
    <p>
       <iframe src="https://giphy.com/embed/Ugm5qV1ViPUVG" width="480" height="370" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mb-telugu-rawks-Ugm5qV1ViPUVG">via GIPHY</a></p>
    </p>
   </section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
