@{
    Page.Title = "About Us";
}

<section id="main">
    <h1>Brahmi</h1>
    <p> 
<iframe src="https://giphy.com/embed/ptntNCl7nwQqk" width="480" height="331" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mb-telugu-rawks-ptntNCl7nwQqk">via GIPHY</a></p>

    </p>
   </section>
<iframe src="https://giphy.com/embed/ptntNCl7nwQqk" width="480" height="331" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mb-telugu-rawks-ptntNCl7nwQqk">via GIPHY</a></p>
<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
